* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.off {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100vw;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title {
    margin: 1rem 0;
    text-align: center;
}
button {
    margin: 0.5rem 0;
}