body {
    background-image: url(../assets/abstractblue.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    color: white;
    margin: 0;
}

#title {
    text-align: center;
    font-size: 250%;
    padding-top: 10%;
    margin: 0;
}

.index-sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
}


#sign-up-form,
#log-in-form {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#sign-up-form>label,
#log-in-form>label,
#update-name-form>label {
    padding: 0;
    width: 93%;
    border-radius: unset;
    border: none;
    margin-bottom: .5rem;
}

#log-in-form>input,
#sign-up-form>input,
#update-name {
    width: 100%;
}

#update-name-form {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
}

#sign-up-google-btn {
    width: 35%;
    height: 5%;
}

.index-buttons {
    font-family: monospace;
    font-size: 20px;
    border-radius: 0.2rem;
    margin: 6% 5rem 7% 5rem; 
    padding: 2%;
}

.my-profile-btn {
    
}

#question_form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}

body #question_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textQ {
    font-family: monospace;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    padding: .5rem 0;
    /* margin: 3%; */
    text-align: center;
    background-color: rgb(2 46 85 / 80%);
    border-radius: 0.9rem;
    margin-top: 8%;
}

#question_form>label {
    border-style: groove;
    color: white;
    border-color: white;
    border-radius: 0.5rem;
    padding: 16px 5px;
    /* margin: auto; */
    margin-top: 4%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 75vw;
    /* flex-flow: column wrap; */
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

#question_form>label:hover {
    background-color: white;
    font-weight: bold;
    color: black;
    font-weight: bold;
}

.inputClass {
    display: none;
}

.goback-btn {
    background-color: rgb(228 158 54);
    border: solid black;
    color: #000000;
    display: flex;
    margin: auto;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.75rem 1.65rem;
    text-align: center;
    width: 35%;
    transform: rotate(-6deg);
    margin-top: 22%;
}

#next-button {
    background-color: white;
    border: 0 solid black;
    color: #000000;
    display: flex;
    margin: auto;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.75rem 1.65rem;
    text-align: center;
    width: 35%;
    transform: rotate(-6deg);
}

#quests {
    position: absolute;
    top: 22%;
    left: 0;
    width: 38px;
}

#quest {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 55px;
}

.results-sections {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 0;
}

#results-title {
    text-align: center;
    font-size: 250%;
    margin-top: 10%;
}

#new-game-btn {
    font-family: monospace;
    font-size: 20px;
    border-radius: 0.2rem;
    margin-bottom: 8%;
    margin-top: 7%;
    padding: 2%;
} 
a {
    text-decoration: none;
    color: black;
}

#menu-btn {
    font-family: monospace;
    font-size: 20px;
    border-radius: 0.2rem;
    margin-bottom: 8%;
    margin-top: 3%;
    padding: 2%;
}

#graphics-div {
    background-color: #f3f0f0e0;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-left: 3%;
}

#update-name {
    width: 93%;
}

#delete-account {
    color: darkred;
    border-color: darkred;
}

#graphics-container {
    width: 100%;
    margin-left: 0;
}

#settings-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
#settings-container > form > input:nth-of-type(1) {
    width: 80%;
}

.off {
    display: none;
}

p {
    text-align: center;
}

#correct {
    color: green;
    font-size: 1rem;
    font-weight: bold;
}
#incorrect {
    color: red;
    font-size: 1rem;
    font-weight: bold;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        background-image: url(../assets/abstractblue.jpeg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        width: 100vw;
        height: 100vh;
        font-family: monospace;
        color: white;
    }

    #title {
        text-align: center;
        width: 96%;
        height: 5%;
        padding: 2rem;
    }

    .index-sections {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: flex-end;

    }

    #sign-up-form,
    #log-in-form {
        display: flex;
        justify-content: space-evenly;
        align-content: stretch;
        flex-direction: column;
        align-items: center;
        width: 49%;
        margin-left: 5%;
    }

    #sign-up-form>label,
    #log-in-form>label,
    #update-name-form>label {
        padding: 0;
        width: 93%;
        border-radius: unset;
        border: none;
        font-size: 20px;
    }

    #log-in-form>input,
    #sign-up-form>input,
    #update-name {
        width: 100%;
    }

    #update-name-form {
        display: flex;
        justify-content: space-evenly;
        align-content: stretch;
        flex-direction: column;
        align-items: center;
        margin-bottom: -15%;
    }

    #sign-up-google-btn {
        width: 21%;
        height: 2%;
        border-radius: 50%;
        margin: 0;
    }

    .index-buttons {
        font-family: monospace;
        font-size: 24px;
        border-radius: -2.8rem;
        margin-bottom: 8%;
        margin-top: 3rem;
        padding: 3%;
        width: 12rem;
    }

    .my-profile-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #graphics-div {
        background-color: #f3f0f0e0;
        width: 112%;
    }

    #question_form {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
    }

    body #question_form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #textQ {
        font-family: monospace;
        font-size: 24px;
        color: white;
        border: 2px solid white;
        text-align: center;
        background-color: rgb(2 46 85 / 80%);
        border-radius: 0.9rem;
        padding: 2rem 1rem;
        margin: 1.5rem 0;;
    }

    #question_form>label {
        border-style: groove;
        color: white;
        border-color: white;
        border-radius: 0.5rem;
        padding: 24px 5px;
        margin: auto;
        margin-top: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68vw;
        flex-flow: column wrap;
        font-family: monospace;
        font-size: 20px;
    }

    #question_form>label:hover {
        background-color: white;
        font-weight: bold;
        color: black;
        font-weight: bold;
    }

    #question-number {
        font-size: 18px;
    }

    .inputClass {
        display: none;
    }

    .results-sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .goback-btn {
        background-color: rgb(228 158 54);
        border: solid black;
        color: #000000;
        display: flex;
        margin: auto;
        font-family: monospace;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.75rem 1.65rem;
        text-align: center;
        width: 22%;
        transform: rotate(-6deg);
        margin-top: 22%;
    }

    #next-button {
        background-color: white;
        border: 0 solid black;
        color: #000000;
        display: flex;
        margin: auto;
        font-family: monospace;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.75rem 1.65rem;
        text-align: center;
        width: 35%;
        transform: rotate(-6deg);
    }

    #quests {
        position: absolute;
        top: 40%;
        left: 6%;
        width: 61px;
    }

    #quest {
        position: absolute;
        top: 3%;
        left: 84%;
        width: 87px;
    }

    .results-sections {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    #results-title {
        text-align: center;
        font-size: 250%;
        margin-top: 10%;
    }

    #new-game-btn {
        font-family: monospace;
        font-size: 32px;
        border-radius: 0.2rem;
        margin-bottom: 8%;
        margin-top: 7%;
        padding: 2.6%;
    }

    #menu-btn {
        font-family: monospace;
        font-size: 41px;
        border-radius: 0.2rem;
        margin-bottom: 8%;
        margin-top: 3%;
        padding: 2%;
    }

    #graphics-container {
        width: 62%;
        margin-left: -22%;
        display: block;
        margin-left: 4%;
        margin-right: 16%;
    }
    
    #settings-container{
        display: block;
        width: 58%;
    }

    #update-name {
        width: 93%;
    }

    #update-name-form >label {
        display: block;
        width: 93%;
        font-size: 20px;
    }

    h3 {
        font-size: 22px;
    }

    .off {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    body {
        width: 100vw;
        height: 90vh;
        margin: 0;
        padding-top: 2rem;
    }
    #title {
        margin: 0 0 2rem 0;
        font-size: 3rem;
    }
    .index-sections {
        width: 75%;
        margin-left: auto;
        margin-right: auto;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .index-buttons {
        margin: 2rem;
        width: 300px;
    }
    #sign-up-google-btn {
        margin: 2rem;
        width: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    #quest {
        width: 200px;
        position: absolute;
        top: 10%;
        left: 0;
    }

    /*  FORMS */
    .index-sections > form {
        width: 40vw;
        height: 70vh;
    }
    .index-sections > form > label {
        font-size: 1.5rem;
    }
    .index-sections > form > input {
        width: 80%;
        height: 1.5rem;
    }
    .index-sections > form > input[type='submit'] {
        margin: 2rem;
        width: 300px;
        height: 3rem;
    }

    #new-game-btn {
        margin: 2rem;
    }
    #back-my-profile-btn {
        position: absolute;
        top: 0;
        right: 10%;
        width: 6rem;
        height: 3rem;
        padding: 0;
        text-align: center;
    }

    /* MY PROFILE PAGE */
    #graphics-div {
        width: 700px;
    }
    #settings-container > h3 {
        margin-top : 3rem;
    }
    .my-profile-btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #update-name-form > input:nth-of-type(1) {
        width: 50%;
        height: 1.5rem;
    }
    div > h3 {
        font-size: 1.5rem;
    }

    /*  QUESTION PAGE */
    body > #question-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #question-number {
        font-size: 1.5rem;
    }
    #textQ {
        margin: 2rem;
        padding: 3rem;
        font-size: 1.5rem;
    }
    #question_form > label {
        width: 50vw;
    }

    #next-button {
        margin-top: 3rem;
        text-align: center;
        justify-content: center;
    }

    #quests {
        width: 200px;
    }
    
}
