* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100vw;
}

/* START PAGE */
.start.page {
    position: relative;
}
#log-out-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#welcome-page {
    position: relative;
}

/* FORMS */
#sign-up-form, #log-in-form {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 40%;
    left: 40%;

    transition: 0.5s ease-in-out;
}
.scaled-form {
    transform: scale(0);
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title {
    margin: 1rem 0;
    text-align: center;
}
button {
    margin: 0.5rem 0;
}



.off {
    display: none;
}